/* Enter your custom styles here */

.nameColumn, .valueColumn {
    padding: 25px;
}

.nameColumn>div, .valueColumn>div {
    border-bottom: 1px solid gray;
}

.normalPadding {
    padding: 25px;
}

.normalMargin {
    margin-left: 25px;
    margin-right: 25px;
}

.normalPaddingLeftRight {
    padding-left: 25px;
    padding-right: 25px;
}

.halfWidth {
    width: 50%;
}

.exampleDiv {
    height: 6rem;
    width: 100%;
    background-color: #A9EAFF;
}

.boldText {
    font-weight: bold;
}

.customTitle {
    font-size: 20px;
    color: #427CAB;
    height: 25px;
}

table>tbody>tr.red-row.sapUiTableContentRow.sapUiTableRow {
    background-color: #ff6868 !important;
}

.red-row {
    background-color: #ff6868 !important;
}